@import '../../../variables';

.sidenav-nav {
  list-style: none;
  margin: 0;
  cursor: pointer;

  .sidenav-nav-item {
    width: 100%;

    .sidenav-nav-link {
      display: flex;
      align-items: center;
      height: 3rem;
      color: $text-color;
      text-decoration: none;
      border-left: 3px solid $left-border-color;

      .sidenav-link-icon {
        font-size: 22px;
        width: 2rem;
        text-align: center;
      }

      .sidenav-link-text {
        margin-left: 1rem;
      }
    }
  }

  .sidenav-nav-item:hover {
    .sidenav-nav-link {
      background-color: $nav-item-hover-color;
      color: $text-color;
    }
  }
}

.active {
  background-color: $nav-item-hover-color;

  .sidenav-link-icon,
  .sidenav-link-text {
    color: $text-color;
  }
}

.mat-sidenav {
  position: fixed;
  z-index: 1;
  width: 16rem;
  height: 100vh;
}

.logo {
  width: 80%;
  margin: 4.6%;
  margin-left: 9%;
}
