<div class="spinner-container" *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>
<ng-container *ngIf="!viewOpportunity">
  <mat-toolbar color="primary" *ngIf="!loading">
    <mat-toolbar-row>
      <span>Opportunities</span>
      <span class="spacer"></span>
      <button mat-raised-button color="warn" (click)="startMatch()">
        Start Match
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="mat-elevation-z8" *ngIf="!loading">
    <app-data-table
      [dataSource]="dataSource"
      [singleSelectionActive]="true"
      [displayedColumns]="displayedColumns"
      (singleSelectEvent)="setSingleSelected($event)"
    ></app-data-table>
  </div>
</ng-container>

<ng-container *ngIf="viewOpportunity">
  <app-view
    [selectedRow]="selectedRow"
    [dataSource]="dataSource"
    (backEvent)="backClicked()"
  ></app-view>
</ng-container>
