/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.spacer {
  flex: 1 1 auto;
}

.spinner-container {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: 85%;
  min-height: 90%;
}
.mdc-icon-button,
.mdc-button {
  margin-left: 3px;
}
