<div class="spinner-container" *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>
<mat-toolbar color="primary" *ngIf="!loading">
  <mat-toolbar-row>
    <span>Uploaded Opportunities</span>
    <span class="spacer"></span>
    <button mat-raised-button color="warn" (click)="startMatch()">
      Start Match
    </button>
    <button mat-raised-button color="warn" (click)="addOpportunity()">
      Add
    </button>
    <button
      mat-raised-button
      color="warn"
      [disabled]="!selectedOpportunities.length"
      (click)="deleteOpportunity()"
    >
      Delete
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<div class="mat-elevation-z8" *ngIf="!loading">
  <app-data-table
    [dataSource]="dataSource"
    [displayedColumns]="displayedColumns"
    (singleSelectEvent)="setSingleSelected($event)"
    (multiSelectEvent)="setMultiSelected($event)"
  ></app-data-table>
</div>
